<section class="main-section">
  <div class="main-shop-row">
       <section class="main col-md-9">
   <h2>{{data.item.title}}</h2>
      {{#if data.item}}
      <item>
        <div class="row">
          <!-- Left side - Feature Image and Title -->
          <div class="col-4">
           
            <img
              src="{{data.item.featureImage}}"
              alt="Feature Image"
              style="width:100%;"
            />
          </div>
          <!-- Right side - Post Details (Price, Category, Body, Date) -->
          <div class="col-8">
            <div class="row">
              <div class="col-12 ">
                {{{safeHTML data.item.body}}}
                <br /><br />
                <p class="shop-item-details"><strong>Price:</strong> ${{formatPrice data.item.price}}<br /></p>
                <p class="shop-item-details"><strong>Category:</strong> {{data.item.category}}<br /></p>
                <p class="shop-item-details"><strong>Last Updated:</strong> {{#formatDate data.item.postDate}}{{/formatDate}}</p>
              </div>
            </div>
          </div>
        </div>
      </item>
      {{else}}
      <!-- If no post is available, show message -->
      <div class="col-md-12 text-center">
        <h2>{{data.message}}</h2>
        <p>Please try another Category</p>
      </div>
      {{/if}}
    </section>

    <!-- Sidebar section for items and categories -->
    <aside class="main col-md-3 ">
      <div class="col-md-12">
        {{#if data.categories}}
          <h4>Categories</h4>
          <ul class="list-group">
            {{#each data.categories}}
              <a href="/shop?category={{id}}" class="list-group-item">
                {{category}}
              </a>
            {{/each}}
          </ul>
        {{/if}}
      </div>
      <div class="w-100">
        {{#if data.items}}
          <h4>Items</h4>
          <ul class="list-group w-100">
            {{#each data.items}}
              <a href="/shop/{{id}}?category={{../data.viewingCategory}}" class="list-group-item">
                {{title}}
              </a>
            {{/each}}
          </ul>
        {{else}}
          <div class="col-md-12 text-center w-100">
            <h4>Items</h4>
            <p>No published items available.</p>
          </div>
        {{/if}}
      </div>
    </aside>
  </div>
</section>
